@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter", sans-serif),
    url("./assest/font/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Unica Pro Heavy";
  src: local("Neue Haas Unica Pro Heavy"),
    url("./assest/font/NeueHaasUnicaProHeavy.otf") format("opentype");
}
@font-face {
  font-family: "Neue Haas Unica Pro Bold";
  src: local("Neue Haas Unica Pro Bold"),
    url("./assest/font/NeueHaasUnicaPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Haas Unica Pro Medium";
  src: local("Neue Haas Unica Pro Medium"),
    url("./assest/font/NeueHaasUnicaPro-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 70px;
  width: 100%;
}
.icon-burger {
  display: none;
}
.line1,
.line2 {
  width: 20px;
  height: 2px;
  margin: 8px 0;
  background-color: #000000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.logo img {
  width: 61px;
  height: 46px;
  margin: 0px 60px 0px 35px;
}
.mobile-link-wrapper {
  display: none;
}
.mobile_nav_links {
  display: none;
}
.mobile_btn {
  display: none;
}
.desktop_nav_links ul {
  display: flex;
  margin-top: 8px;
  list-style-type: none;
  gap: 25px;
}
.desktop_nav_links li a {
  text-decoration: none;
  color: #000000;
}
.desktop_btn {
  text-align: center;
  margin: 0px 35px 0px 0px;
}
.desktop_btn a .btn {
  border: none;
  color: white;
  background: #000000;
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
}
.section-wrapper {
  margin-top: 210px;
}
.trainings_section {
  width: 100%;
  text-align: center;
}
.trainings p {
  width: 100%;
  color: #349634;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
.trainings,
.mobile_employee,
.elevate_skills,
.get_started_btn1,
.rider_img_section,
.shortcut_delivery,
.media-links,
.ratings,
.process,
.mobile_training_wrapper,
.easy_training,
.successful_workforce,
.face_across,
.gen_career_path,
.career_path,
.careers_log,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_employee h1 {
  font-family: "Neue Haas Unica Pro Heavy";
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 1.1px;
  margin-bottom: 23px;
  width: 600px;
}
.elevate_skills p {
  font-size: 20px;
  font-weight: 300;
  color: #545151;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  width: 750px;
}
.gen_btn a {
  text-decoration: none;
  padding: 20px 32px;
  font-size: 20px;
  border-radius: 32px;
}
.get_started_btn1 a,
.get_started_btn2 a {
  text-align: center;
}
.get_started_btn1 a,
.get_started_btn3 a {
  color: #ffffff;
  background-color: #1d9f4d;
}
.get_started_btn1 a {
  margin-bottom: 80px;
}
.rider_img_section img {
  max-width: 80%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 70px;
}
.shortcut_delivery {
  color: #615f5f;
}
.media-links {
  gap: 10px;
  margin-bottom: 110px;
  padding: 15px;
}
.whatsapp_link img {
  width: 130px;
}
.email_link img {
  width: 92px;
}
.link_img img {
  width: 79px;
}
.qrcode_link img {
  width: 114px;
}
.ratings_section {
  margin-bottom: 300px;
}
.ratings {
  width: 100%;
  margin-bottom: 25px;
  gap: 12px;
}
.ratings_square {
  text-align: center;
  width: 360px;
  height: 150px;
  padding-top: 26px;
  border-radius: 23px;
}
.reduce_cost {
  background: #91a9f8;
}
.retention {
  background: #d08ff7;
}
.increase_delivering {
  background: #9ce5d9;
}
.rate_percent p {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
}
.process p {
  font-size: 16px;
  width: 270px;
  margin-top: 5px;
  line-height: 22px;
}
.reduce {
  color: #2a3b72;
}
.improve {
  color: #553667;
}
.delivering {
  color: #33665d;
}
.stats_quote p {
  font-size: 12px;
  font-weight: 500;
  color: #949090;
  text-align: center;
}
.mobile_training_wrapper {
  gap: 125px;
  margin-bottom: 290px;
}
.mobile_training {
  text-align: start;
  margin-bottom: 20px;
}
.training_challenge p {
  color: #b68e1f;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
.align_training h1 {
  font-size: 36px;
  font-family: "Neue Haas Unica Pro Heavy";
  width: 380px;
  line-height: 47px;
  letter-spacing: 0.3px;
  margin-bottom: 18px;
}
.outdated_system p {
  color: #5c5959;
  font-size: 18px;
  font-weight: 300;
  width: 400px;
  line-height: 27px;
  letter-spacing: 0.27px;
}
.training_advice {
  width: 605px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.general_speech {
  background: #f7dc8f;
  font-family: "Neue Haas Unica Pro Heavy";
  padding: 25px;
  width: 290px;
  height: auto;
  border-radius: 24px;
  margin-bottom: 13px;
}
.symbol {
  width: 40px;
  height: 40px;
  opacity: 1;
  background-color: rgba(57, 44, 5, 0.15);
  border-radius: 100%;
  margin-bottom: 12px;
  text-align: center;
}
.symbol svg {
  margin: 5px 6px 10px;
}
.speech p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 240px;
}
.advice p {
  color: #4a260c;
}
.advice span {
  color: #2d1505;
  font-weight: 600;
}
.easy_training {
  width: 100%;
  background: #1d9f4d;
  padding: 130px;
  margin-bottom: 300px;
}
.chef_img img {
  width: 88%;
  height: auto;
  border-radius: 25px;
}
.online_training {
  width: 100%;
  text-align: start;
  color: #ffffff;
}
.employee_training,
.boost_performance {
  margin-bottom: 17px;
}
.employee_training p {
  font-size: 16px;
  font-weight: 500;
}
.boost_performance h1 {
  font-size: 34px;
  line-height: 45px;
}
.micro_training p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  width: 550px;
  color: #f6f3f3;
  margin-bottom: 45px;
}
.get_started_btn2 a {
  color: #000000;
  background-color: #f7dc8f;
}
.general_ads {
  margin-top: 45px;
}
.checklist {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}
.checklist img {
  width: 24px;
  height: auto;
}
.effective_training {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.deliver_effectively {
  width: 520px;
}
.ease_micro_training h1 {
  font-size: 36px;
  font-family: "Neue Haas Unica Pro Heavy";
  width: 400px;
  line-height: 48px;
  margin-bottom: 20px;
}
.simple_kuji p {
  color: #5d5b5b;
  font-size: 18px;
  font-weight: 300;
  width: 370px;
  line-height: 28px;
  margin-bottom: 50px;
}
.slide_img img {
  width: 600px;
  height: 300px;
  margin-bottom: 25px;
}
.flexible_training p {
  font-size: 24px;
  font-family: "Neue Haas Unica Pro Heavy";
  margin-bottom: 16px;
}
.captivating_content p {
  font-size: 18px;
  color: #5d5b5b;
  font-weight: 300;
  width: 585px;
  line-height: 28px;
  margin-bottom: 150px;
}
.world_class_training {
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}
.gen_image_upper,
.gen_image_lower {
  width: 94%;
  height: 150px;
  position: relative;
  margin: 0 auto;
}
.gen_image_lower {
  margin-top: 32px;
}
.dispatch_rider_pic img,
.liberian_pic img,
.nurse_pic img,
.engineer_pic img {
  width: 150px;
  border-radius: 12px;
  position: absolute;
}
.nurse_pic img {
  height: 200px;
  bottom: 120px;
}
.dispatch_rider_pic img,
.nurse_pic img {
  left: 0;
}
.liberian_pic img,
.engineer_pic img {
  right: 0;
}
.dispatch_rider_pic img {
  top: 50px;
}
.engineer_pic img {
  bottom: 75px;
}
.liberian_pic img {
  top: 0;
  z-index: 11;
}
.pro_service {
  text-align: center;
}
.world_class p {
  color: #369a36;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.successful_workforce h1 {
  font-size: 36px;
  font-family: "Neue Haas Unica Pro Heavy";
  width: 600px;
  line-height: 47px;
  margin-bottom: 16px;
}
.face_across p {
  color: #676262;
  font-size: 18px;
  font-weight: 300;
  width: 540px;
  line-height: 27px;
  margin-bottom: 40px;
}
.career_path {
  width: 500px;
  flex-wrap: wrap;
  text-align: center;
}
.careers_log {
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 35px;
  gap: 8px;
  margin: 4px;
}
.career_icon {
  width: 22px;
  height: 22px;
}
.careers_1 {
  background: #f7dc8f;
}
.careers_2 {
  background: #8fd0f7;
}
.careers_3 {
  background: #f891be;
}
.careers_4 {
  background: #b791f8;
}
.careers_5 {
  background: #f78f98;
}
.careers_6 {
  background: #f7bd8f;
}
.careers_7 {
  background: #d08ff7;
}
.careers_8 {
  background: #9ce5d9;
}
.careers_9 {
  background: #b2db86;
}
.careers_9 {
  background: #b2db86;
}
.careers_10 {
  background: #91a9f8;
}
.more_info {
  margin-bottom: 300px;
}
.learn_more p {
  font-size: 36px;
  font-weight: 600;
  font-family: "Neue Haas Unica Pro Heavy";
  text-align: start;
  margin-left: 10rem;
}
.workforce_wrapper {
  width: 80%;
  margin: auto;
}
.workforce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0px 0px 17px;
}
.gen_workforce img {
  width: 94%;
  border-radius: 20px;
}
.gen_workforce p {
  font-size: 24px;
  font-family: "Neue Haas Unica Pro Bold";
  width: 355px;
  padding: 2px;
}
.gen_workforce p:hover {
  color: #43b843;
}
.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}
.title p {
  font-size: 36px;
  font-family: "Neue Haas Unica Pro Heavy";
  margin-bottom: 32px;
}
.questionaire {
  width: 800px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b4b1b1;
  cursor: pointer;
}
.question p {
  font-size: 20px;
  font-family: "Neue Haas Unica Pro Medium";
}
.icon1 {
  font-size: 30px;
  color: #918b8b;
  padding-top: 20px;
  transition: transform 0.5s ease-in;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.answer p {
  color: #636060;
  font-size: 18px;
  line-height: 1.6;
  padding: 16px 0px;
}
.questionaire.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.questionaire.active .icon1 {
  transform: rotate(45deg);
}
.communicate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.quick_check {
  margin-left: 115px;
}
.talk_to_us p {
  color: #25a125;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.empower p {
  font-size: 50px;
  font-family: "Neue Haas Unica Pro Heavy";
  width: 500px;
  line-height: 64px;
  margin-bottom: 25px;
}
.schedule_call p {
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 300;
  width: 500px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}
.dual_pic {
  margin-right: 115px;
}
.dual_pic img {
  width: 400px;
  height: auto;
}
.cite {
  display: flex;
  justify-content: center;
  color: #575353;
  font-size: 16px;
  gap: 22px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 810px) and (max-width: 1199px) {
  .section-wrapper {
    margin-top: 150px;
  }
  .trainings_section,
  .rider_img_section,
  .media_section,
  .ratings_section,
  .mobile_training_section,
  .effective_training {
    padding: 0px 40px;
  }
  .mobile_employee h1 {
    width: 100%;
  }
  .elevate_skills p {
    width: 75%;
  }
  .rider_img_section img {
    max-width: 95%;
  }
  .media-links {
    margin-bottom: 20px;
  }
  .ratings_section {
    margin-bottom: 150px;
  }
  .ratings {
    margin-bottom: 25px;
  }
  .reduce_cost,
  .retention,
  .increase_delivering {
    width: 100%;
  }
  .process p {
    width: 80%;
  }
  .mobile_training_wrapper,
  .easy_training,
  .effective_training {
    flex-direction: column;
    align-items: start;
  }
  .mobile_training_wrapper {
    gap: 12px;
    margin-bottom: 100px;
  }
  .align_training h1 {
    width: 100%;
  }
  .outdated_system p {
    width: 75%;
  }
  .training_advice {
    width: 100%;
  }
  .general_speech {
    width: 98%;
  }
  .speech p {
    width: 98%;
  }
  .easy_training {
    padding: 65px 40px;
    gap: 35px;
    margin-bottom: 150px;
  }
  .chef_img img {
    width: 100%;
    border-radius: 20px;
  }
  .boost_performance {
    width: 81%;
  }
  .micro_training p {
    width: 80%;
  }
  .get_started_btn3 {
    margin-bottom: 80px;
  }
  .deliver_effectively,
  .ease_micro_training h1 {
    width: 100%;
  }
  .simple_kuji p {
    width: 68%;
  }
  .slide_img img {
    width: 100%;
    height: 100%;
  }
  .captivating_content p {
    width: 97%;
    margin-bottom: 50px;
  }
  .gen_image_upper,
  .gen_image_lower {
    width: 93%;
    height: 238px;
  }
  .nurse_pic img {
    top: 15px;
  }
  .engineer_pic img {
    bottom: 110px;
  }
  .successful_workforce h1 {
    width: 69%;
  }
  .face_across p,
  .career_path {
    width: 64%;
  }
  .world_class_training {
    margin-bottom: 40px;
  }
  .more_info {
    margin-bottom: 300px;
  }
  .learn_more p {
    margin-left: 1.5rem;
  }
  .workforce_wrapper {
    width: 100%;
    padding-top: 10px;
  }
  .gen_workforce img,
  .gen_workforce p {
    width: 95%;
  }
  .more_info {
    margin-bottom: 120px;
  }
  .questionaire {
    width: 93%;
  }
  .faqs{
    margin-bottom: 170px;
  }
  .communicate {
    display: block;
  }
  .quick_check {
    margin-left: 0px;
    text-align: center;
  }
  .empower p {
    width: 100%;
    margin-bottom: 20px;
  }
  .schedule_call p {
    width: 95%;
    margin-left: 30px;
    letter-spacing: 0.2px;
  }
  .dual_pic {
    text-align: center;
    margin-right: 0px;
  }
  .dual_pic img {
    width: 55%;
  }
}

@media screen and (max-width: 809px) {
  .header {
    display: block;
    position: fixed;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .icon-burger {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  .change .line1 {
    transform: translateY(5px) rotate(-45deg);
  }
  .change .line2 {
    transform: translateY(-5px) rotate(45deg);
  }
  .logo img {
    margin: 12px 12px 0px;
  }
  .desktop_nav_links {
    display: none;
  }
  .desktop_btn {
    display: none;
  }
  .mobile-link-wrapper {
    display: block;
    background-color: #ffffff;
  }
  .mobile_nav_links ul {
    list-style-type: none;
    text-align: center;
    line-height: 40px;
  }
  .mobile_nav_links li a {
    text-decoration: none;
    color: #000000;
  }
  .mobile_btn {
    text-align: center;
    background-color: white;
    height: 800px;
  }
  .mobile_btn a .btn {
    border: none;
    color: #ffffff;
    background: #000000;
    padding: 5px 9px;
    font-size: 16px;
    border-radius: 30px;
  }
  #links {
    margin-top: 5px;
  }
  #links.hide {
    display: block;
  }
  #mobile-btn {
    margin-top: 15px;
  }
  #mobile-btn.hide {
    display: block;
  }
  .section-wrapper {
    margin-top: 110px;
  }
  .trainings_section,
  .rider_img_section,
  .media_section,
  .ratings_section,
  .mobile_training_section,
  .effective_training,
  .more_info {
    padding: 0px 15px;
  }
  .trainings p {
    width: 70%;
    margin-bottom: 12px;
  }
  .mobile_employee h1 {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 15px;
  }
  .elevate_skills p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .get_started_btn1 a {
    font-size: 16px;
    padding: 12px 8px;
    width: 135px;
    margin-bottom: 50px;
  }
  .rider_img_section img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .shortcut_delivery,
  .media-links {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .media-links {
    gap: 5px;
    margin-bottom: 20px;
  }
  .ratings_section {
    margin-bottom: 150px;
  }
  .ratings {
    flex-direction: column;
  }
  .ratings_square {
    width: 100%;
  }
  .reduce_cost,
  .increase_delivering {
    height: 125px;
    padding: 20px;
  }
  .retention {
    height: 140px;
    padding: 30px;
  }
  .process p {
    width: 84%;
  }
  .mobile_training_wrapper,
  .easy_training,
  .effective_training {
    flex-direction: column;
    align-items: start;
    margin-bottom: 100px;
  }
  .mobile_training_wrapper,
  .easy_training {
    gap: 0px;
  }
  .align_training h1 {
    width: 100%;
  }
  .outdated_system p {
    width: 95%;
  }
  .training_advice {
    grid-template-columns: auto;
  }
  .training_advice {
    width: 100%;
  }
  .general_speech {
    width: 100%;
  }
  .speech p {
    width: 100%;
  }
  .easy_training {
    padding: 40px 20px;
    gap: 35px;
  }
  .chef_img img {
    width: 100%;
    border-radius: 20px;
  }
  .boost_performance h1 {
    font-size: 28px;
  }
  .micro_training p {
    width: 97%;
  }
  .get_started_btn2 a,
  .get_started_btn3 a {
    font-size: 16px;
    padding: 16px 26px;
  }
  .get_started_btn3 {
    margin-bottom: 70px;
  }
  .deliver_effectively,
  .ease_micro_training h1 {
    width: 100%;
  }
  .ease_micro_training h1 {
    font-size: 32px;
  }
  .simple_kuji p {
    width: 99%;
  }
  .slide_img img {
    width: 100%;
    height: 100%;
  }
  .captivating_content p {
    width: 98%;
    margin-bottom: 50px;
  }
  .gen_image_upper {
    margin-bottom: 130px;
  }
  .successful_workforce h1 {
    font-size: 32px;
  }
  .face_across p,
  .career_path {
    width: 90%;
  }
  .nurse_pic img {
    top: 200px;
    z-index: -1;
  }
  .engineer_pic img {
    top: 0px;
  }
  .world_class_training {
    margin-bottom: 130px;
  }
  .workforce_wrapper {
    width: 100%;
  }
  .workforce {
    grid-template-columns: auto;
    padding: 0px;
  }
  .learn_more p {
    font-size: 32px;
    margin-left: 0.4rem;
  }
  .workforce_wrapper {
    width: 99%;
    padding-top: 10px;
  }
  .gen_workforce img {
    width: 100%;
    border-radius: 25px;
  }
  .gen_workforce p {
    width: 100%;
    padding: 15px 0px;
  }
  .questionaire {
    width: 97%;
  }
  .more_info {
    margin-bottom: 80px;
  }
  .faqs{
    margin-bottom: 150px;
  }
  .communicate {
    display: block;
  }
  .quick_check {
    margin-left: 0px;
    text-align: center;
  }
  .empower p {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  .schedule_call p {
    font-size: 18px;
    width: 95%;
    margin-left: 20px;
    letter-spacing: 0.2px;
  }
  .dual_pic {
    text-align: center;
    margin-right: 0px;
  }
  .dual_pic img {
    width: 96%;
  }
  .cite {
    gap: 15px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .ratings_square {
    width: 100%;
    height: auto;
  }
  .reduce_cost,
  .increase_delivering {
    padding: 16px;
  }
  .retention {
    padding: 18px;
  }
  .improve p {
    width: 86%;
  }
  .checklist img {
    width: 24px;
    height: 16px;
  }
  .nurse_pic img {
    top: 0;
    margin-top: -550px;
    position: relative;
    z-index: 1;
  }
  .engineer_pic img {
    top: 70px;
  }
  .world_class_training {
    margin-bottom: 250px;
  }
  .faqs,.communicate{
    padding: 10px;
  }
  .schedule_call p {
    margin-left: 6px;
  }
}
