@font-face {
  font-family: "Neue Haas Unica Pro Heavy";
  src: local("Neue Haas Unica Pro Heavy"),
    url("./assest/font/NeueHaasUnicaProHeavy.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assest/font/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

.container {
  /* background: greenyellow; */
  width: 100%;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  width: 100%;
}
.icon-burger {
  display: none;
}
.line1,
.line2 {
  width: 20px;
  height: 2px;
  margin: 8px 0;
  background-color: #000000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.logo img {
  width: 61px;
  height: 46px;
  margin: 0px 60px 0px 35px;
}
.mobile-link-wrapper {
  display: none;
}
.mobile_nav_links {
  display: none;
}
.mobile_btn {
  display: none;
}
.desktop_nav_links ul {
  display: flex;
  margin-top: 8px;
  list-style-type: none;
  gap: 25px;
}
.desktop_nav_links li a {
  text-decoration: none;
  color: #000000;
}
.desktop_btn {
  text-align: center;
  margin: 0px 35px 0px 0px;
}
.desktop_btn a .btn {
  border: none;
  color: white;
  background: #000000;
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
}
.section-wrapper {
  margin-top: 210px;
}
.trainings_section {
  width: 100%;
  text-align: center;
}
.trainings p {
  width: 100%;
  color: #349634;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
.trainings,
.mobile_employee,
.elevate_skills,
.get_started_btn1,
.rider_img_section,
.shortcut_delivery,
.media-links,
.ratings,
.process {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_employee h1 {
  font-family: "Neue Haas Unica Pro Heavy";
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 1.1px;
  margin-bottom: 23px;
  width: 600px;
}
.elevate_skills p {
  font-size: 20px;
  font-weight: 300;
  color: #545151;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  width: 750px;
}
.get_started_btn1 a {
  text-decoration: none;
  color: #ffffff;
  background-color: #1d9f4d;
  text-align: center;
  font-size: 19px;
  padding: 20px;
  width: 175px;
  border-radius: 32px;
  margin-bottom: 80px;
}
.rider_img_section img {
  max-width: 82%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 70px;
}
.shortcut_delivery {
  color: #615f5f;
  margin-bottom: 10px;
}
.media-links {
  gap: 10px;
  margin-bottom: 110px;
}
.whatsapp_link img {
  width: 130px;
}
.email_link img {
  width: 92px;
}
.link_img img {
  width: 79px;
}
.qrcode_link img {
  width: 114px;
}
.ratings_section {
  margin-bottom: 300px;
}
.ratings {
  width: 100%;
  margin-bottom: 25px;
  gap: 12px;
}
.ratings_square {
  text-align: center;
  width: 360px;
  height: 150px;
  padding-top: 26px;
  border-radius: 23px;
}
.reduce_cost {
  background: #91a9f8;
}
.retention {
  background: #d08ff7;
}
.increase_delivering {
  background: #9ce5d9;
}
.rate_percent p {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
}
.process p {
  font-size: 16px;
  width: 270px;
  margin-top: 5px;
  line-height: 22px;
}
.reduce {
  color: #2a3b72;
}
.improve {
  color: #553667;
}
.delivering {
  color: #33665d;
}
.stats_quote p {
  font-size: 12px;
  font-weight: 500;
  color: #949090;
  text-align: center;
}
.mobile_training_wrapper {
  gap: 125px;
  margin-bottom: 290px;
}
.mobile_training {
  text-align: start;
  margin-bottom: 20px;
}
.training_challenge p {
  color: #b68e1f;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
.align_training h1 {
  font-size: 36px;
  font-family: "Neue Haas Unica Pro Heavy";
  width: 380px;
  line-height: 47px;
  letter-spacing: 0.3px;
  margin-bottom: 18px;
}
.outdated_system p {
  color: #5c5959;
  font-size: 18px;
  font-weight: 300;
  width: 400px;
  line-height: 27px;
  letter-spacing: 0.27px;
}
.training_advice {
  width: 605px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.general_speech {
  background: #f7dc8f;
  font-family: "Neue Haas Unica Pro Heavy";
  padding: 25px;
  width: 290px;
  height: auto;
  border-radius: 24px;
  margin-bottom: 13px;
}
.symbol {
  width: 40px;
  height: 40px;
  opacity: 1;
  background-color: rgba(57, 44, 5, 0.15);
  border-radius: 100%;
  margin-bottom: 12px;
  text-align: center;
}
.symbol svg {
  margin: 5px 6px 10px;
}
.speech p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 240px;
}
.advice p {
  color: #4a260c;
}
.advice span {
  color: #2d1505;
  font-weight: 600;
}

@media only screen and (min-width: 810px) and (max-width: 1199px) {
  .container {
    padding: 40px;
  }
  .section-wrapper {
    margin-top: 150px;
  }
  .mobile_employee h1 {
    width: 100%;
  }
  .elevate_skills p {
    width: 75%;
  }
  .rider_img_section img {
    max-width: 95%;
  }
  .media-links {
    margin-bottom: 40px;
  }
  .ratings_section {
    margin-bottom: 180px;
  }
  .ratings {
    margin-bottom: 25px;
  }
  .reduce_cost,
  .retention,
  .increase_delivering {
    width: 100%;
  }
  .process p {
    width: 80%;
  }
  .mobile_training_wrapper {
    gap: 12px;
    flex-direction: column;
    align-items: start;
    margin-bottom: 100px;
  }
  .align_training h1 {
    width: 100%;
  }
  .outdated_system p {
    width: 75%;
  }
  .training_advice {
    width: 100%;
  }
  .general_speech {
    width: 98%;
  }
  .speech p {
    width: 98%;
  }
}

@media screen and (max-width: 809px) {
  .header {
    display: block;
    position: fixed;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .icon-burger {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  .change .line1 {
    transform: translateY(5px) rotate(-45deg);
  }
  .change .line2 {
    transform: translateY(-5px) rotate(45deg);
  }
  .logo img {
    margin: 12px 12px 0px;
  }
  .desktop_nav_links {
    display: none;
  }
  .desktop_btn {
    display: none;
  }
  .mobile-link-wrapper {
    display: block;
    background-color: #ffffff;
  }
  .mobile_nav_links ul {
    list-style-type: none;
    text-align: center;
    line-height: 40px;
  }
  .mobile_nav_links li a {
    text-decoration: none;
    color: #000000;
  }
  .mobile_btn {
    text-align: center;
    background-color: white;
    height: 800px;
  }
  .mobile_btn a .btn {
    border: none;
    color: #ffffff;
    background: #000000;
    padding: 5px 9px;
    font-size: 16px;
    border-radius: 30px;
  }
  #links {
    margin-top: 5px;
  }
  #links.hide {
    display: block;
  }
  #mobile-btn {
    margin-top: 15px;
  }
  #mobile-btn.hide {
    display: block;
  }
  .section-wrapper {
    margin-top: 110px;
  }
  .trainings p {
    width: 70%;
    margin-bottom: 12px;
  }
  .mobile_employee h1 {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 15px;
  }
  .elevate_skills p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .get_started_btn1 a {
    font-size: 16px;
    padding: 12px 8px;
    width: 135px;
    margin-bottom: 50px;
  }
  .rider_img_section img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .shortcut_delivery,
  .media-links {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .media-links {
    gap: 5px;
    margin-bottom: 20px;
  }
  .ratings_section {
    margin-bottom: 150px;
  }
  .ratings {
    flex-direction: column;
  }
  .ratings_square {
    width: 100%;
  }
  .reduce_cost,
  .increase_delivering {
    height: 125px;
    padding: 20px;
  }
  .retention {
    height: 140px;
    padding: 30px;
  }
  .process p {
    width: 84%;
  }
  .mobile_training_wrapper {
    gap: 0px;
    flex-direction: column;
    align-items: start;
    margin-bottom: 100px;
  }
  .align_training h1 {
    width: 100%;
  }
  .outdated_system p {
    width: 95%;
  }
  .training_advice {
    grid-template-columns: auto;
  }
  .training_advice {
    width: 100%;
  }
  .general_speech {
    width: 100%;
  }
  .speech p {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .ratings_square {
    width: 100%;
    height: auto;
  }
  .reduce_cost,
  .increase_delivering {
    padding: 16px;
  }
  .retention {
    padding: 18px;
  }
  .improve p {
    width: 86%;
  }
}

